//
//  General.xcconfig
//  ChatAIT
//
//  Created by developer on 2/7/19.
//  Copyright © 2019 Oleg Yaros. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ARCHS = $(ARCHS_STANDARD)

IPHONEOS_DEPLOYMENT_TARGET = 14.0

GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_CXX_LIBRARY = libc++

SWIFT_VERSION = 5.0

GCC_NO_COMMON_BLOCKS = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
ENABLE_STRICT_OBJC_MSGSEND = YES

CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES

ALWAYS_SEARCH_USER_PATHS = NO
