//
//  GenericTraget.xcconfig
//  ChatAIT
//
//  Created by developer on 15.05.2021.
//  Copyright © 2021 Oleg Yaros. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER = com.olegyaros.$(PRODUCT_NAME)

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

INFOPLIST_KEY_UILaunchStoryboardName = LaunchScreen.storyboard
INFOPLIST_KEY_UISupportedInterfaceOrientations = UIInterfaceOrientationPortrait
INFOPLIST_KEY_UIMainStoryboardFile = Main
INFOPLIST_KEY_NSHumanReadableCopyright = Copyright © 2022-2024 Oleg Yaros. All rights reserved.
INFOPLIST_KEY_UILaunchStoryboardName = LaunchScreen.storyboard
INFOPLIST_KEY_UISupportedInterfaceOrientations = UIInterfaceOrientationPortrait
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown

TARGETED_DEVICE_FAMILY = 1,2
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
SUPPORTS_MACCATALYST = NO
